tests/*
!tests/CMakeLists.txt
!tests/tests.cpp
!tests/lib/googletest
.vscode

/tests/lib/googletest/googletest/gtest_main.dir/*
/tests/lib/googletest/googletest/gtest.dir/*
/tests/lib/googletest/googletest/gtest.dir
/tests/lib/googletest/googletest/gtest_main.dir
